Create a New Restaurant!
<br></br>

<form action="/restaurants" method="post">
      <label>Name
         <input type="text" id="name" name="name" required placeholder="Enter Name"> 
      </label>
      <br></br>
      <label>Image Link
         <input type="text" id="imagelink" name="imagelink" required placeholder="Enter Image Link"> 
      </label>
      <br></br>
      <input type="submit" text="Submit">